*{
    font-size: 22px;
    font-family: 'Calibri';
}
body{
    background-color: #c4a3d2;
}
.outer{
    background-color: white;
    width: 1000px;
    height: 300px;
    margin-left: 270px;
    margin-top: 250px;
    box-shadow: 1px 6px 28px black;
}
.inner{
    background-image: url(./1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}
.inner-detail{
    width: 700px;
    height: 300px;
    margin-top: -300px;
    margin-left: 330px;
}
.header h1{
    margin-top: 30px;
    color: rgb(77, 46, 115);
    font-size: 38px;
    line-height: 1;
}
.header img{
    width: 120px;
    position: fixed;
    margin-top: -20px;
}
.header p{
    font-size: 19.2px;
    margin-top: 50px;
}
.table table .row .hands{
    font-size: 21px;
}
.table table .row .total{
    padding-left: 70px;
    font-size: 21px;
}
.table table .row .yield{
    padding-left: 70px;
    font-size: 21px;
}
.table table .purple-row .purple-hands{
    font-size: 21px;
    color: rgb(77, 46, 115);
    font-weight: bolder;
}
.table table .purple-row .purple-total{
    padding-left: 70px;
    font-size: 21px;
    color: rgb(77, 46, 115);
    font-weight: bolder;
}
.table table .purple-row .purple-yield{
    padding-left: 70px;
    font-size: 21px;
    color: rgb(77, 46, 115);
    font-weight: bolder;
}
button{
    background-color: rgb(255, 143, 5);
    border-color: rgb(255, 143, 5) ;
    width: 240px;
    height: 60px;
    font-size: 25px;
    color: white;
    box-shadow: 0px 3px 10px black;
    position: fixed;
    margin-top: -70px;
    margin-left: 780px;
}
button img{
    width: 30px;
    height: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: orangered;
    border-color: orangered;
}
/*Recipe.html css*/
.div-outer{
    margin-top: 30px;
}
.div-outer h1{
    text-align: center;
    font-size: 32px;
    color: rgb(77, 46, 115);
    font-weight: bolder;
}
.div-inner{
    background-color: white;
    width: 600px;
    height: 650px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 3px 8px 8px gray;
}
.div-inner h2{
    margin-left: 30px;
    color: rgb(77, 46, 115);
    font-size: 25px;
    transform: translateY(50%);
    text-decoration: underline;
    line-height: 2;
}
.div-inner ul li{
    line-height: 1.6;
    list-style-type: square;
    font-size: 20px;
}
.method-div{
    background-color: white;
    width: 800px;
    height: 650px;
    margin-left: 700px;
    border-radius: 20px;
    box-shadow: 3px 8px 8px gray;
    position: fixed;
    margin-top: -650px;
}
.method-div h2{
    margin-left: 30px;
    color: rgb(77, 46, 115);
    font-size: 25px;
    transform: translateY(40%);
    text-decoration: underline;
}
.method-div ol li{
    line-height: 1.5;
    font-size: 20px;
    margin-right: 40px;
}
.method-div:hover, .div-inner:hover{
    background-color: rgb(79, 5, 79);
    color: white;
}
.method-div:hover h2, .div-inner:hover h2{
    color: white;
}
